@charset "UTF-8";

*{
	margin :0;
	padding :0;
	font-family:monospace;
}

#join, #login, #mypage, #logout{
	text-decoration: none;
	color: black;
}

.container{
	width: 1000px;
	margin: auto;
	text-align: center;
}

#banner{
	font-size: 100px;
	color: hotpink;
	text-decoration: none;
}

.membership{
	text-align: end;
	padding-right: 90px;
	font-size: 18px;
}


.main{
	display:flex;
	justify-content: center;
	flex-direction : column;
	font-size: 30px;
}

.rental{
	display:flex;
	margin:auto;
	padding: 30px;
	gap:20px;
}


#short{
	border: solid 1px lightPink;
	border-radius : 7px;
	width: 400px;
	height : 400px;	
	background-image:url("../resources/short.png");
	background-size:cover;
	
	margin-right: 30px;
}

#long{
	border: solid 1px lightPink;
	border-radius : 7px;
	width: 400px;
	height: 400px;
	background-image:url("../resources/long.png");
	background-size:cover;
	
	margin-left: 30px;
}


.board{
	display: flex;
	justify-content: space-around;
	border-top: solid 3px pink;
	
	width: 1000px;
	margin: auto;
	gap : 10px;
}


#notice{
	padding-top: 20px;
	width: 45%;
	text-align:left;
}

#review{
	padding-top: 20px;
	width: 45%;
	text-align:left;
}

.preview{
	border-bottom: dotted 2px lightPink;
}

.top{
	display: flex;
	justify-content: space-between;
}



